h1, #result, footer {
    font-family: 'Inconsolata', courier;
    text-align: center;
}

body {
    font-family: 'Montserrat', arial;
    background-color: hsl(330, 100%, 95%);
    color: hsl(330, 100%, 10%);
}

#app {
    background-color: rgba(255,255,255,0.5);
    margin: auto;
    width: 80%;
    padding: 10px 25px;
    border-radius: 20px;
}

input {
    font-size: 1.2em;
    font-family: 'Montserrat', arial;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid hsl(330, 100%, 10%);
    color: hsl(330, 100%, 10%);
    background-color: hsl(330, 100%, 95%);
    margin: 5px 0 10px 0;
}

input.correct {
    border-color: hsl(120, 100%, 20%);
    color: hsl(120, 100%, 20%);
    background-color: hsl(120, 100%, 80%);
}

input.incorrect {
    background-color: hsl(330, 100%, 80%);
}

p span {
    margin-left: 10px;
}

p span.correct {
    color: hsl(120, 100%, 50%);
}

p span.incorrect {
    color: hsl(330, 100%, 60%);
}

a {
    color: hsl(270, 100%, 50%);
    transition: .5s color;
    text-decoration: none;
    border-bottom: 1px dotted hsl(271, 100%, 50%);
}

a:hover {
    color: hsl(270, 100%, 75%);
}

@media (max-width: 750px) {
    #app {
        width: 95%;
        margin: auto;
    }
}